<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>sen-10-ces</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>

    <body>
        <!-- <form action = "{{ url_for('language') }}" method = "post">
            <p>Choose language:</p>
            <p><input type = "text" name = "language" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form> -->

        <!-- <label for="exampleFormControlSelect1">Choose language</label>
        <select class="form-control form-control-lg" id="chooseLanguage">
            <option>German</option>
            <option>Czech</option>
        </select>
        -->
        <form action = "{{ url_for('language') }}" method = "post">
            <div class="btn-group">
                <input type="radio" class="btn-check" name="language" id="germany" value="german" autocomplete="off">
                <label class="btn btn-secondary" for="germany">German</label>

                <input type="radio" class="btn-check" name="language" id="czech" value="czech" autocomplete="off">
                <label class="btn btn-secondary" for="czech">Czech</label>
            </div>
            
            <input type = "submit" value = "submit" />
        </form>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>